{{#link-to "random-route-two"}}
	page two
{{/link-to}}

<br><br>

{{#each model as |p|}}
<div>
	<span>{{p.id}}</span>
	<a href="#" {{action "setPerson" p}}>{{p.name}}</a>
</div>
{{/each}}

<br>

{{person-view-comp person=person}}